.task {
    background-color: #f4f4f4;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
}

.task h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task.remainder{
    border-left: 5px solid #e91e63;
}